[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
django = "*"
django-rest-framework = "*"
django-rest-auth = "*"
django-allauth = "*"
django-registration = "*"
django-crispy-forms = "*"
django-webpack-loader = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
