{% extends 'auth_layout.html' %} 
{% load crispy_forms_tags %} 

{% block auth %}
<div class="login-form-container">
	<h1>Question Time</h1>
	<p class="lead text-muted">Share your knowledge!</p>
	<form method="POST">
        {% csrf_token %} 
        <!-- {% crispy form %} -->
        <!-- Crispy forms isn't working - not making a call on the submit. Not worth debugging at the moment, but I'll come back to it.  -->
        {{ form }}
		<button type="submit" class="btn btn-sm btn-outline-primary">
			LOGIN
		</button>
	</form>
	<p class="mt-2">Or <a href="{%url 'django_registration_register' %}"> Create An Account</a></p>
</div>

{% endblock %}
